<h2 id="head">Project Documents Management System</h2>
<div class="leftcontainer">
  <label for="">Project Topic</label><br><br>
<input type="text"><br><br>
<label for="">Project ID</label><br><br>
<input type="text"><br><br>
<label for="">Project Head</label><br><br>
<input type="text"><br><br>
<label for="">Project Quotation</label><br><br>
<input type="text"><br><br>
<div class="container">
  <button class="btn btn-danger">Save</button>  <button>Update</button>  <button>Delete</button>
</div>
</div>
 <br><br>
<!-- Project List -->
<div class="rightcontainer">
  <div>
    <h3 id="headleft">Project List</h3>
   </div>

   <div id="data">
  <p>Library Management System - 01 - yogi - 2Cr</p>
  <p>Ticket Management System - 02 - Adhi - 6Cr</p>
  <p>Water Management System - 03 - Bharath - 10Cr</p>
</div>
</div>
